body {
    /* min-height: 1400px; */
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.2rem;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}


#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

/* gloabel style */
a {
    text-decoration: none;
}

li {
    list-style: none !important;
}

/* Front Padge  */
/* owl in front page  */
#owl-demo-nav .item {
    margin: 3px;
}

#owl-demo-nav .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-index-template .item {
    margin: 3px;
}

#owl-demo-index-template .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-index-premium_items-template .item {
    margin: 3px;
}

#owl-demo-index-premium_items-template .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Front Padge  */
/* owl in front page  */
#owl-demo-index-recent-template .item {
    margin: 3px;
}

#owl-demo-index-recent-template .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Front Padge  */
/* owl in front page  */
#owl-demo-index-trending-template .item {
    margin: 3px;
}

#owl-demo-index-trending-template .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Front Padge  */
/* owl in front page  */
#owl-demo-index-random-template .item {
    margin: 3px;
}

#owl-demo-index-random-template .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Front Padge  */
/* owl in front page  */
#owl-demo-index-editors_choice .item {
    margin: 3px;
}

#owl-demo-index-editors_choice .item img {
    display: block;
    width: 100%;
    height: auto;
}


/* Front Padge  */
/* owl in front page  */
#owl-demo-cart-in-my_store .item {
    margin: 3px;
}

#owl-demo-cart-in-my_store .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl_demo_frontpage_feed_book .item {
    margin: 3px;
}

#owl_demo_frontpage_feed_book .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl_demo_frontpage_feed_book_slug .item {
    margin: 3px;
}

#owl_demo_frontpage_feed_book_slug .item img {
    display: block;
    width: 100%;
    height: auto;
}


#owl_demo_frontpage_feed_book_sugiste .item {
    margin: 3px;
}

#owl_demo_frontpage_feed_book_sugiste .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl_demo_frontpage_random_books .item {
    margin: 3px;
}

#owl_demo_frontpage_random_books .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* .customNavigation {
    text-align: center;
} */
/* //use styles below to disable ugly selection */
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#owl-demo-frontpage-recent-book .item {
    margin: 3px;
}

#owl-demo-frontpage-recent-book .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-move-to-draft .item {
    margin: 3px;
}

#owl-demo-move-to-draft .item img {
    display: block;
    width: 100%;
    height: auto;
}

.coustom-dropdown {
    transform: translate(50px, 26px) !important;
    position: absolute !important;
    inset: 0px auto auto -50px !important;
    margin: 0px !important;
    opacity: 0.9 !important;
    width: 100%;
}

.dropdown-toggle::after {
    display: none !important;
}

/* .dropdown-toggle float-end::before{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
} */

#owl-demo-frontpage-category-book .item {
    margin: 3px;
}

#owl-demo-frontpage-category-book .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-user-book .item {
    margin: 3px;
}

#owl-demo-user-book .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-waiting-abrove-book .item {
    margin: 3px;
}

#owl-demo-waiting-abrove-book .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-move-to-trash .item {
    margin: 3px;
}

#owl-demo-move-to-trash .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl_sugist_user .item {
    margin: 3px;
}

#owl_sugist_user .item img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel {
    /* 
        background-color: red;
        background-image:
            linear-gradient(to right,
                red, #f06d06); */
    /*
                * Created with https://www.css-gradient.com
                * Gradient link: https://www.css-gradient.com/?c1=cecece&c2=2079c0&gt=l&gd=dcr
                */
    height: 150px;
    background: #CECECE;
    margin-top: 12px;
    background: linear-gradient(270deg, #e2d8d8, #3174ab)
}

.carousel-child {
    background-image: url('D:/hamzoooz/files/django/themezoz/static/assets/images/background-index.jpg');
    height: 150px;
    width: 100%;

}


/* card in front page  */
.add-to-card,
.download-link,
.read-link {
    font-size: 12px;
    padding: 2px;
}

.navbar-nav .active {
    background-color: lightblue;
    font-weight: bold;
    border-radius: 8px;
}


/* Rating System  */

.rating_book input:checked~label {
    color: #ffd700 !important;
}

.rating_user input:checked~label {
    color: #ffd700 !important;
}


@media (max-width: 576px) {

    .add-to-card,
    .download-link,
    .read-link {
        font-size: 10px !important;
        padding: 2px;
    }

    .coner,
    .card-img-top {
        height: 177px !important;
    }

    .cover-in-sngle {
        height: 106px !important;
        width: 108px !important;
    }

    .cover-in-sngle-comment,
    .cover-in-sngle-quote {
        height: 50px !important;
        width: 50px !important;
    }

    .rating_system {
        font-size: 10px;
    }

}

.rating_system .rating_item input:checked~label {
    color: #ffd700 !important;
}

.rating_item input:checked~label {
    color: #ffd700 !important;
}

.rating_user input:checked~label {
    color: #ffd700 !important;
}

#owl-demo-nav .owl-item {
    margin-right: 20px !important;
}

#owl-demo-nav {
    margin-bottom: -40px
}



.dropdown-hover:hover>.dropdown-menu-hover {
    display: block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}